/* Fix user-agent */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

a {
    color: #0288D1;
    text-decoration: none;
}

.clr {
    clear: both;
}

/* Chat page */

.chat.page {
  display: none;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px;
}

.messages .message {
    margin-bottom: 10px;
}

.messages .message.tar {
    text-align: right;
}

.messages .message .username {
    margin-right: 10px;
}

.message.typing .messageBody {
  color: gray;
}

/* Input */

.inputMessage {
  border: 10px solid #e8f2ff;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}


.main_wrapper {
    width: 860px;
    margin: 0 auto;
}

.main_wrapper .header {
    float: left;
    width: 100%;
    display: block;
    background-color: #505050;
    padding: 5px 10px;
}

.main_wrapper .middle_ctr {
    float: left;
    width: 100%;
    display: block;
}

.main_wrapper.intro .middle_ctr {
    padding: 80px 50px;
    text-align: center;
}

.login_page_form {
    width: 480px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.login_page_form input[type="text"],
.login_page_form input[type="password"] {
    float: left;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
    margin-bottom: 50px;
    font-size: 18px;
    outline: none;
}

.login_page_form input[type="text"]:focus,
.login_page_form input[type="password"]:focus {
    border-bottom: 1px solid #1a99db;
}

.organizationusers {
    position: absolute;
    top: 67px;
    left: 0;
    bottom: 0;
    width: 25%;
    display: block;
    padding: 15px;
    background-color: #f8f8f8;
    overflow-y: scroll;
}

.organizationusers li {
    float: left;
    width: 100%;
    display: block;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
}

.organizationusers li.available {
    background: url(available_icon.png) no-repeat right center;
}

.organizationusers li.busy {
    background: url(busy_icon.png) no-repeat right center;
}

.organizationusers li.offline {
    background: url(offline_icon.png) no-repeat right center;
}

.organizationusers li .username {
    float: left;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.organizationusers li .messageBody {
    float: left;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.main_wrapper.chat.page {
    width: 100%;
}

.activity_updates_ctr {
    position: absolute;
    right: 0;
    left: 25%;
    bottom: 0;
    top: 67px;
    padding: 25px;
}

.activity_updates_list {
	float: left;
	margin: 0 0 0 0;
	width:100%;
	display: block;
}
.activity_updates_list li {
	float: left;
	width: 100%;
	display: block;
	position: relative;
    margin:0 0 10px 4px;
    padding: 15px 5px;
    border-bottom: 1px solid #ccc;
}
.activity_updates_list li:last-child {
	border-bottom: none;
}
.activity_updates_list li.new_features {
    background-color: #ebfefa;
    border:#d4ece7 solid 1px;
    border-width: 2px 1px 1px 2px
}
.activity_updates_list li.new_features .user_desc .user_summary {
    padding-left: 0px;
}
.activity_updates_list li .activity_type {
	background-color: #008730;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 3px 0 3px;
    margin-left: 3px;
    text-transform: uppercase;
    right: 7px;
    top: 7px;
    position: absolute;
    font-size:11px;
    font-weight:bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.activity_updates_list li .private {
	background-color: #44b649;
}.activity_updates_list li .community {
	background-color: #44b649;
}
.activity_updates_list li .public {
	background-color: #008b89;
}
.activity_updates_list li .notification {
	background-color: #2f93fa;
}

.activity_updates_list li .user_desc a.hasTooltip {
	float: left;
}
.activity_updates_list li .user_desc, 
.activity_updates_list li .workkard_info {
	float: left;
	width: 100%;
    min-height:19px;
	display: block;
	padding: 0 0 4px 0;
}

.activity_updates_list li .workkard_info {
	padding: 0 0 8px 0;
}

.activity_updates_list li .user_desc .user_thumb,
.activity_updates_list li .workkard_info .wk_ico {
	width: 34px;
	height: 34px;
	float: left;
}

.activity_updates_list li .workkard_info .wk_ico {
	border-radius: 17px;
    background-color: #f39c12;
    color: #fff;
    text-align: center;
    line-height: 34px;
    font-weight: bold;
}

.activity_updates_list li .user_desc .user_summary,
.activity_updates_list li .workkard_info .wk_info_summary {
	padding: 0px 0 0 10px;
    float: left;
}

.activity_updates_list li .user_desc .user_summary .name,
.activity_updates_list li .workkard_info .wk_info_summary .wk_num {
	display: block;
	color: #000;
	text-transform: capitalize;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    font-weight:bold;
}

.activity_updates_list li .workkard_info .wk_info_summary .wk_num {
	display: inline-block;
	width: auto;
    vertical-align: middle;
    color: #f39c12;
}

.activity_updates_list li .user_desc .user_summary .organization,
.activity_updates_list li .workkard_info .wk_info_summary .wk_owner {
	display: block;
	color: #999;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.activity_updates_list li .workkard_info .wk_info_summary .wk_owner,
.activity_updates_list li .workkard_info .wk_info_summary .wk_owner a {
	color: #999;
}

.activity_updates_list li .wk_update_ct {
	background-color: #5F90F1;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 3px 0 3px;
    margin-left: 8px;
    font-size:11px;
    font-weight:bold;
    display: inline-block;
}
.activity_updates_list li .activity_desc {
	float: left;
	width: 100%;
	display: block;
	overflow:hidden;
	text-overflow: ellipsis;
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

.activity_updates_list li .activity_desc .date {
	float: left;
	width: 100%;
	display: block;
	color: #666;
    margin-top:10px;
}

