/* Fix user-agent */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

.clr {
    clear: both;
}

/* Chat page */

.chat.page {
  display: none;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 0;
}

.messages .message {
  
}

.message.typing .messageBody {
  color: gray;
}

/* Input */

.inputMessage {
  border: 10px solid #e8f2ff;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}


.main_wrapper {
    width: 860px;
    margin: 0 auto;
}

.main_wrapper .header {
    float: left;
    width: 100%;
    display: block;
    background-color: #505050;
    padding: 5px 10px;
}

.main_wrapper .middle_ctr {
    float: left;
    width: 100%;
    display: block;
}

.main_wrapper.intro .middle_ctr {
    padding: 80px 50px;
    text-align: center;
}

.login_page_form {
    width: 480px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.login_page_form input[type="text"],
.login_page_form input[type="password"] {
    float: left;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
    margin-bottom: 50px;
    font-size: 18px;
    outline: none;
}

.login_page_form input[type="text"]:focus,
.login_page_form input[type="password"]:focus {
    border-bottom: 1px solid #1a99db;
}

.organizationusers {
    position: absolute;
    top: 67px;
    left: 0;
    bottom: 0;
    width: 25%;
    display: block;
    padding: 15px;
    background-color: #f8f8f8;
    overflow-y: scroll;
}

.organizationusers li {
    float: left;
    width: 100%;
    display: block;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
}

.organizationusers li.available {
    background: url(available_icon.png) no-repeat right center;
}

.organizationusers li.busy {
    background: url(busy_icon.png) no-repeat right center;
}

.organizationusers li.offline {
    background: url(offline_icon.png) no-repeat right center;
}

.organizationusers li .username {
    float: left;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.organizationusers li .messageBody {
    float: left;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.main_wrapper.chat.page {
    width: 100%;
}



